<div class="row">
  <div class=".col-xs-12 .col-md-12">
  <%= form_tag("/chart", method: "get", role: "form") do %>
  <fieldset>
    <div class="form-group">
      <%= label_tag :currency, "Currency" %>
      <%= select_tag :currency, options_for_select(@avaiable_currencies, params[:currency])  %>
    </div>
    <div class="form-group">
      <%= label_tag :start_date, "From:" %>
      <%= date_field_tag :start_date, @start_date  %>
      <%= label_tag :end_date, "To:" %>
      <%= date_field_tag :end_date, @end_date %>
    </div>
    <%= submit_tag "Generate Chart!",class: 'btn btn-primary' %>
  </fieldset>
  <% end %>
  </div>
</div>
<hr/>
<div class="row">
  <%= high_chart("chart-container", @chart) %>
</div>