<% flash.each do |type, message| %>
  <div class="alert alert-dismissible alert-<%= bootstrap_class_for(type) %> <%= bootstrap_class_for(type)%>" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">x</span>
      <span class="sr-only">Close</span>
    </button>
    <%= message %>
  </div>
<% end %>