<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand header-logo" href="/"/>Historical Exchange Rates Visualizer</a>
      </div>
    </div>
  </nav>
</header>
