<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ChaordicChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container master-container">
    <%= render partial: "shared/flash_messages", flash: flash %>
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>